body {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  background-image: linear-gradient(to right, #4B7AEC, #5CE86B);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

.calculator {
  height: 60vmin;
  width: 20vmax;
  background-color: white;
  display: grid;
  grid-template-areas: "result result result result"
    "clear clear delete division"
    "one two three times"
    "four five six plus"
    "seven eight nine minus"
    "point zero equal equal";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.result {
  grid-area: result;
  background-color: #10393B;
  color: white;
  position: relative;
  overflow: hidden;
}

.result span {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.clear {
  grid-area: clear;
}

.delete {
  grid-area: delete;
}

.division {
  grid-area: division;
}

#one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.multiply {
  grid-area: times;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.plus {
  grid-area: plus;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.minus {
  grid-area: minus;
}

.point {
  grid-area: point;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}

button {
  background-color: #C6F5FF;
  border: 1px solid white;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #879c9d
}

button:active {
  background-color: #cfd7d7;
}